<table class="table">
  <thead>
    <th scope="col">Name</th>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
    <th scope="col">Admin</th>
    <th scope="col">Change admin status</th>
  </thead>
  <tbody>
      <% @users.each do |user| %>
        <ol>
          <tr scope="row">
            <td><%= user.name %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= user.admin %></td>
            <td><%= link_to 'Change', admins_change_path(id: user), method: :post %></td>
          </tr>
        </ol>
      <% end %>
    </tbody>
</table>
